.books-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  max-width: 220px;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  text-align: center;
  margin: 56px 24px 24px;
  .book-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 36px 0 8px;
    transition: transform 0.2s linear;
    cursor: pointer;
    &:hover {
      transform: translateY(-8px);
    }
    .book-info {
      margin: 12px 12px 4px;
      text-align: left;

      .name {
        color: #333;
        margin-bottom: 6px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }

      .author {
        color: #bb6464;
        margin-bottom: 6px;
        font-size: 13px;
      }

      .price {
        color: #fc4f4f;
        font-size: 16px;
      }

      .type {
        display: block;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        background-color: #7882a4;
        width: max-content;
        padding: 3px 6px;
        border-radius: 3px;
      }

      .cart-add {
        position: absolute;
        bottom: 12px;
        right: 12px;
        font-size: 18px;
        cursor: pointer;
        color: #bb6464;
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }

  .book-detail {
    position: fixed;
    top: 14%;
    right: 14%;
    bottom: 14%;
    left: 14%;
    z-index: 1001;

    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 6px;
      transform: translate(-50%, -50%);
      overflow: auto;
    }

    .book-info {
      text-align: center;
      .type {
        margin: 12px auto;
      }
    }

    .book-item {
      border: none;
      &:hover {
        transform: unset;
      }
      .des {
        margin: 0 24px;
        line-height: 20px;
        color: #333;
      }
    }
  }
}

@media (max-width: 1200px) {
  .books-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: unset;
  }
}
